
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-615716319546835657.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-615716319546835657.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-615716319546835657.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-615716319546835657.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-615716319546835657.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-615716319546835657.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-615716319546835657.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-615716319546835657.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-615716319546835657.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-615716319546835657.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-615716319546835657.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-615716319546835657.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-615716319546835657.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-615716319546835657.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-615716319546835657.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-615716319546835657.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-615716319546835657.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-615716319546835657.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-615716319546835657.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-615716319546835657.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-615716319546835657.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-615716319546835657.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-615716319546835657.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-615716319546835657.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-615716319546835657.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-615716319546835657.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-615716319546835657.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-615716319546835657.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-615716319546835657.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-615716319546835657.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-615716319546835657.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-615716319546835657.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-615716319546835657.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-615716319546835657.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-615716319546835657.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-615716319546835657.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-615716319546835657.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-615716319546835657.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-615716319546835657.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-615716319546835657.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-615716319546835657.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-615716319546835657.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-615716319546835657.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-615716319546835657.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-615716319546835657.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-615716319546835657.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-615716319546835657.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-615716319546835657.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-615716319546835657.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-615716319546835657.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-615716319546835657.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-615716319546835657.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-615716319546835657.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-615716319546835657.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-615716319546835657.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-615716319546835657.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-615716319546835657.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-615716319546835657.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-615716319546835657.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-615716319546835657.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-615716319546835657.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-615716319546835657.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-615716319546835657.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-615716319546835657.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-615716319546835657.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-615716319546835657.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-615716319546835657.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-615716319546835657.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-615716319546835657.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-615716319546835657.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-615716319546835657.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-615716319546835657.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-615716319546835657.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-615716319546835657.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-615716319546835657.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-615716319546835657.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-615716319546835657.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-615716319546835657.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-615716319546835657.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-615716319546835657.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-615716319546835657.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-615716319546835657.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-615716319546835657.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-615716319546835657.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-615716319546835657.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-615716319546835657.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-615716319546835657.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-615716319546835657.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-615716319546835657.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-615716319546835657.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-615716319546835657.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-615716319546835657.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-615716319546835657.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-615716319546835657.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-615716319546835657.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-615716319546835657.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-615716319546835657.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-615716319546835657.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-615716319546835657.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-615716319546835657.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-615716319546835657.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-615716319546835657.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-615716319546835657.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-615716319546835657.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-615716319546835657.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-615716319546835657.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-615716319546835657 .gp-rotate-0,.gps-615716319546835657 .gp-rotate-180,.gps-615716319546835657 .mobile\:gp-rotate-0,.gps-615716319546835657 .mobile\:gp-rotate-180,.gps-615716319546835657 .tablet\:gp-rotate-0,.gps-615716319546835657 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-615716319546835657 .gp-static{position:static}.gps-615716319546835657 .\!gp-absolute{position:absolute!important}.gps-615716319546835657 .gp-relative{position:relative}.gps-615716319546835657 .gp-left-0{left:0}.gps-615716319546835657 .gp-right-0{right:0}.gps-615716319546835657 .gp-z-1{z-index:1}.gps-615716319546835657 .gp-z-2{z-index:2}.gps-615716319546835657 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-615716319546835657 .gp-my-0{margin-bottom:0;margin-top:0}.gps-615716319546835657 .gp-mb-0{margin-bottom:0}.gps-615716319546835657 .gp-block{display:block}.gps-615716319546835657 .gp-inline-block{display:inline-block}.gps-615716319546835657 .\!gp-flex{display:flex!important}.gps-615716319546835657 .gp-flex{display:flex}.gps-615716319546835657 .gp-grid{display:grid}.gps-615716319546835657 .gp-contents{display:contents}.gps-615716319546835657 .\!gp-hidden{display:none!important}.gps-615716319546835657 .gp-hidden{display:none}.gps-615716319546835657 .gp-h-auto{height:auto}.gps-615716319546835657 .gp-h-full{height:100%}.gps-615716319546835657 .\!gp-min-h-full{min-height:100%!important}.gps-615716319546835657 .gp-w-full{width:100%}.gps-615716319546835657 .\!gp-max-w-none{max-width:none!important}.gps-615716319546835657 .gp-max-w-full{max-width:100%}.gps-615716319546835657 .gp-flex-1{flex:1 1 0%}.gps-615716319546835657 .gp-flex-none{flex:none}.gps-615716319546835657 .gp-shrink-0{flex-shrink:0}.gps-615716319546835657 .gp-rotate-0{--tw-rotate:0deg}.gps-615716319546835657 .gp-rotate-0,.gps-615716319546835657 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-615716319546835657 .gp-rotate-180{--tw-rotate:180deg}.gps-615716319546835657 .gp-cursor-pointer{cursor:pointer}.gps-615716319546835657 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-615716319546835657 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-615716319546835657 .\!gp-flex-row{flex-direction:row!important}.gps-615716319546835657 .gp-flex-row{flex-direction:row}.gps-615716319546835657 .gp-flex-col{flex-direction:column}.gps-615716319546835657 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-615716319546835657 .gp-content-start{align-content:flex-start}.gps-615716319546835657 .gp-items-center{align-items:center}.gps-615716319546835657 .gp-justify-center{justify-content:center}.gps-615716319546835657 .gp-justify-between{justify-content:space-between}.gps-615716319546835657 .gp-gap-2{gap:8px}.gps-615716319546835657 .gp-overflow-hidden{overflow:hidden}.gps-615716319546835657 .gp-text-center{text-align:center}.gps-615716319546835657 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity,1))}.gps-615716319546835657 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-615716319546835657 .gp-duration-200{transition-duration:.2s}.gps-615716319546835657 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-615716319546835657 .before\:gp-left-0:before{content:var(--tw-content);left:0}.gps-615716319546835657 .before\:gp-top-0:before{content:var(--tw-content);top:0}@media (max-width:1024px){.gps-615716319546835657 .tablet\:gp-static{position:static}.gps-615716319546835657 .tablet\:\!gp-absolute{position:absolute!important}.gps-615716319546835657 .tablet\:gp-left-0{left:0}.gps-615716319546835657 .tablet\:gp-right-0{right:0}.gps-615716319546835657 .tablet\:gp-z-2{z-index:2}.gps-615716319546835657 .tablet\:gp-block{display:block}.gps-615716319546835657 .tablet\:\!gp-flex{display:flex!important}.gps-615716319546835657 .tablet\:\!gp-hidden{display:none!important}.gps-615716319546835657 .tablet\:gp-hidden{display:none}.gps-615716319546835657 .tablet\:gp-h-auto{height:auto}.gps-615716319546835657 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-615716319546835657 .tablet\:gp-flex-none{flex:none}.gps-615716319546835657 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-615716319546835657 .tablet\:gp-rotate-0,.gps-615716319546835657 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-615716319546835657 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-615716319546835657 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-615716319546835657 .tablet\:gp-flex-row{flex-direction:row}.gps-615716319546835657 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-615716319546835657 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-615716319546835657 .mobile\:gp-static{position:static}.gps-615716319546835657 .mobile\:\!gp-absolute{position:absolute!important}.gps-615716319546835657 .mobile\:gp-left-0{left:0}.gps-615716319546835657 .mobile\:gp-right-0{right:0}.gps-615716319546835657 .mobile\:gp-z-2{z-index:2}.gps-615716319546835657 .mobile\:gp-block{display:block}.gps-615716319546835657 .mobile\:\!gp-flex{display:flex!important}.gps-615716319546835657 .mobile\:\!gp-hidden{display:none!important}.gps-615716319546835657 .mobile\:gp-hidden{display:none}.gps-615716319546835657 .mobile\:gp-h-auto{height:auto}.gps-615716319546835657 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-615716319546835657 .mobile\:gp-flex-none{flex:none}.gps-615716319546835657 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-615716319546835657 .mobile\:gp-rotate-0,.gps-615716319546835657 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-615716319546835657 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-615716319546835657 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-615716319546835657 .mobile\:gp-flex-row{flex-direction:row}.gps-615716319546835657 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-615716319546835657 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-615716319546835657 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-615716319546835657 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-615716319546835657 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZ9hjg&skey=c491285d6722e4fa&v=v20) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYAZ9hjg&skey=c491285d6722e4fa&v=v20) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gIJZpHNUgJ"}' data-id="gIJZpHNUgJ" id="gIJZpHNUgJ" data-same-height-subgrid-container class="gIJZpHNUgJ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pl:12px;--pb:var(--g-s-2xl);--pr:12px;--pt-tablet:var(--g-s-2xl);--pl-tablet:12px;--pb-tablet:var(--g-s-2xl);--pr-tablet:12px;--pt-mobile:var(--g-s-2xl);--pl-mobile:12px;--pb-mobile:var(--g-s-2xl);--pr-mobile:12px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gS_5uAvYjx gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gBtEropnyw"}' data-id="gBtEropnyw" id="gBtEropnyw" data-same-height-subgrid-container class="gBtEropnyw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:35px;--cg-mobile:25px;--rg:16px;--rg-tablet:16px;--rg-mobile:25px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gqvlsnobUW gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5vJqygjMN"
        class="g5vJqygjMN"
        style="--ta:left;--mt:0px;--mt-tablet:0px;--mt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:700;--size:36px;--size-tablet:28px;--size-mobile:30px;--lh:130%;--lh-tablet:130%;--lh-mobile:140%;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5vJqygjMN_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggtbXCrfn6"
        class="ggtbXCrfn6"
        style="--ta:left;--mt:15px;--mt-tablet:15px;--mt-mobile:15px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggtbXCrfn6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gFyznKOYur gp-relative gp-flex gp-flex-col"
    >
      
    <gp-carousel-v3 gp-data='{"id":"gHndAcl92-","setting":{"childItem":["Item 1","Item 2","Item 3"],"itemNumber":{"desktop":2,"tablet":2,"mobile":2},"navigationStyle":{"desktop":"inside"},"dotStyle":{"desktop":"outside"},"sneakPeak":{"desktop":true,"mobile":true},"sneakPeakType":{"desktop":"forward"},"sneakPeakOffsetForward":{"desktop":"50","mobile":"72"},"sneakPeakOffsetCenter":{"desktop":50},"vertical":{"desktop":false},"controlOverContent":{"desktop":true},"dot":{"desktop":false},"dotSize":{"desktop":12},"dotGapToCarousel":{"desktop":16},"dotColor":{"desktop":"bg-1"},"dotActiveColor":{"desktop":"line-3"},"navigationEnable":{"desktop":true},"arrowCustom":"<svg height=\"20\" width=\"20\" data-name=\"caret-right-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817562042106216\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z\" /></svg>","arrowCustomColor":"#FFFFFF","arrowIconSize":{"desktop":"18","mobile":"16"},"arrowButtonSize":{"desktop":{"shapeValue":"1/1","shapeLinked":true,"padding":{"top":"10px","left":"10px","right":"10px","bottom":"10px","linked":true}},"mobile":{"shapeValue":"1/1","shapeLinked":true,"padding":{"top":"6px","left":"6px","right":"6px","bottom":"6px","linked":true}}},"arrowBackgroundColor":"#000000","arrowBorder":{"desktop":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":true}},"arrowShadow":{"desktop":{"type":"shadow-1","distance":"4px","blur":"4px","spread":"0px","color":"rgba(18, 18, 18, 0.2)","angle":45,"enable":false}},"roundedArrow":{"desktop":{"btrr":"9999px","bblr":"9999px","bbrr":"9999px","btlr":"9999px","radiusType":"circle"}},"arrowGapToEachSide":"16","showWhenHover":false,"rtl":false,"autoplay":false,"autoplayTimeout":2,"pauseOnHover":true,"runPreview":false,"enableDrag":{"desktop":true},"loop":{"desktop":false},"animationMode":"ease-in","background":{"desktop":{"type":"color","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"label":true},"styles":{"fullWidth":{"desktop":false,"tablet":false,"mobile":false},"sizeSetting":{"desktop":{"shapeLinked":false,"width":"default","height":"auto"}},"backgroundImage":{"desktop":{}},"playSpeed":500,"align":{"desktop":"center"},"borderContent":{"borderType":"none","border":"none","width":"1px 1px 1px 1px","position":"all","borderWidth":"1px","color":"line-3","isCustom":true},"roundedContent":{"radiusType":"none"},"hasActiveShadow":false,"carouselShadow":{"type":"shadow-1","distance":"4px","blur":"4px","spread":"0px","color":"rgba(18, 18, 18, 0.2)","angle":45,"enable":false},"spacing":{"desktop":"20","mobile":"16"},"itemPadding":{"desktop":{"padding":{}}}}}' data-id="gHndAcl92-" id="gp-root-carousel-gHndAcl92-" style="--jc:center" class="gp-group/carousel gp-w-full gp-flex">
      <div
        
        class="gHndAcl92- gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block"
        style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--bgi:none;--bgi-tablet:none;--bgi-mobile:none"
      >
        <div class="gp-relative gp-overflow-hidden gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row" style="--h:auto;--h-tablet:auto;--h-mobile:auto;gap:16px">
          
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 before:gp-left-0 before:gp-top-0 gp-carousel-arrow-gHndAcl92- gHndAcl92- gp-carousel-action-back gem-slider-previous gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--bg:#000000;--d:flex;--d-tablet:flex;--d-mobile:flex;--left:16px;--right:initial;--top:initial;--bottom:;--left-tablet:16px;--right-tablet:initial;--top-tablet:initial;--bottom-tablet:;--left-mobile:16px;--right-mobile:initial;--top-mobile:initial;--bottom-mobile:;--w:auto;--w-tablet:auto;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--pl:10px;--pr:10px;--pt:10px;--pb:10px;--pl-mobile:6px;--pr-mobile:6px;--pt-mobile:6px;--pb-mobile:6px;--shadow:none;--v:hidden"
    >
      <style type="text/css">
      .gp-carousel-arrow-gHndAcl92- {
        
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
      }
      .gp-carousel-arrow-gHndAcl92-::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gHndAcl92- {
          
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
        }
        .gp-carousel-arrow-gHndAcl92-::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gHndAcl92- {
          
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
        }
        .gp-carousel-arrow-gHndAcl92-::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
      style="--c:#FFFFFF;--w:18px;--w-tablet:18px;--w-mobile:16px;--h:18px;--h-tablet:18px;--h-mobile:16px"
    >
        <svg height="20" width="20" data-name="caret-right-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562042106216">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z" /></svg>
    </div>
  
    </button>
  
          <div id="gp-carousel-gHndAcl92-" dir="ltr" style="overflow:hidden;flex:1;width:100%;height:100%">
            <div class="gem-slider-wrapper gp-flex gp-content-start gp-h-full gp-select-none !gp-max-w-none gp-carousel-slider-gHndAcl92- mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full">
              
    
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gHndAcl92- gp-child-item-gHndAcl92- g3cqgTO0RX"
      style="--minw:calc(100% / 1.5 - 6.666666666666667px);--minw-tablet:calc(100% / 1.5 - 6.666666666666667px);--minw-mobile:calc(100% / 1.28 - 3.5000000000000004px);--maxw:calc(100% / 1.5 - 6.666666666666667px);--maxw-tablet:calc(100% / 1.5 - 6.666666666666667px);--maxw-mobile:calc(100% / 1.28 - 3.5000000000000004px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--op:100%;--mr:20px;--mr-tablet:20px;--mr-mobile:16px"
      data-index="0"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      dir="ltr"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gg6U75e-GI"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1776682246318 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gg6U75e-GI"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggg6U75e-GI_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDA5NiIgaGVpZ2h0PSI0MDk2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00MDk2LTQwOTYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQwOTYiIGhlaWdodD0iNDA5NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDA5NiIgaGVpZ2h0PSI0MDk2IiBmaWxsPSJ1cmwoI2ctNDA5Ni00MDk2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDA5NiIgdG89IjQwOTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggg6U75e-GI_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDA5NiIgaGVpZ2h0PSI0MDk2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00MDk2LTQwOTYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQwOTYiIGhlaWdodD0iNDA5NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDA5NiIgaGVpZ2h0PSI0MDk2IiBmaWxsPSJ1cmwoI2ctNDA5Ni00MDk2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDA5NiIgdG89IjQwOTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggg6U75e-GI_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDA5NiIgaGVpZ2h0PSI0MDk2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00MDk2LTQwOTYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQwOTYiIGhlaWdodD0iNDA5NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDA5NiIgaGVpZ2h0PSI0MDk2IiBmaWxsPSJ1cmwoI2ctNDA5Ni00MDk2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDA5NiIgdG89IjQwOTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggg6U75e-GI_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKUl3jVYk7"
        class="gKUl3jVYk7"
        style="--ta:left;--mt:20px;--mt-tablet:20px;--mt-mobile:20px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:17px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKUl3jVYk7_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gHndAcl92- gp-child-item-gHndAcl92- glj1BfBeKD"
      style="--minw:calc(100% / 1.5 - 6.666666666666667px);--minw-tablet:calc(100% / 1.5 - 6.666666666666667px);--minw-mobile:calc(100% / 1.28 - 3.5000000000000004px);--maxw:calc(100% / 1.5 - 6.666666666666667px);--maxw-tablet:calc(100% / 1.5 - 6.666666666666667px);--maxw-mobile:calc(100% / 1.28 - 3.5000000000000004px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--op:100%;--mr:20px;--mr-tablet:20px;--mr-mobile:16px"
      data-index="1"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      dir="ltr"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gwld42jLQg"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1776682246320 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gwld42jLQg"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggwld42jLQg_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggwld42jLQg_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggwld42jLQg_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggwld42jLQg_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggN6WBm00H"
        class="ggN6WBm00H"
        style="--ta:left;--mt:20px;--mt-tablet:20px;--mt-mobile:20px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:17px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggN6WBm00H_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gHndAcl92- gp-child-item-gHndAcl92- gkMEeCGJHP"
      style="--minw:calc(100% / 1.5 - 6.666666666666667px);--minw-tablet:calc(100% / 1.5 - 6.666666666666667px);--minw-mobile:calc(100% / 1.28 - 3.5000000000000004px);--maxw:calc(100% / 1.5 - 6.666666666666667px);--maxw-tablet:calc(100% / 1.5 - 6.666666666666667px);--maxw-mobile:calc(100% / 1.28 - 3.5000000000000004px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--op:100%;--mr:20px;--mr-tablet:20px;--mr-mobile:16px"
      data-index="2"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      dir="ltr"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gaO10c780i"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1776682246322 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gaO10c780i"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggaO10c780i_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggaO10c780i_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggaO10c780i_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggaO10c780i_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvhyMnth1O"
        class="gvhyMnth1O"
        style="--ta:left;--mt:20px;--mt-tablet:20px;--mt-mobile:20px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:17px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvhyMnth1O_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      </div>
    </div>
  
            </div>
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 before:gp-left-0 before:gp-top-0 gp-carousel-arrow-gHndAcl92- gHndAcl92- gp-carousel-action-next gem-slider-next gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--bg:#000000;--d:flex;--d-tablet:flex;--d-mobile:flex;--right:16px;--left:initial;--top:;--bottom:initial;--right-tablet:16px;--left-tablet:initial;--top-tablet:;--bottom-tablet:initial;--right-mobile:16px;--left-mobile:initial;--top-mobile:;--bottom-mobile:initial;--w:auto;--w-tablet:auto;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--pl:10px;--pr:10px;--pt:10px;--pb:10px;--pl-mobile:6px;--pr-mobile:6px;--pt-mobile:6px;--pb-mobile:6px;--shadow:none;--v:hidden"
    >
      <style type="text/css">
      .gp-carousel-arrow-gHndAcl92- {
        
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
      }
      .gp-carousel-arrow-gHndAcl92-::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gHndAcl92- {
          
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
        }
        .gp-carousel-arrow-gHndAcl92-::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gHndAcl92- {
          
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
        }
        .gp-carousel-arrow-gHndAcl92-::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
      style="--c:#FFFFFF;--w:18px;--w-tablet:18px;--w-mobile:16px;--h:18px;--h-tablet:18px;--h-mobile:16px"
    >
        <svg height="20" width="20" data-name="caret-right-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562042106216">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z" /></svg>
    </div>
  
    </button>
  
        </div>
        
    
        <div class="gp-carousel-dot-container gp-carousel-dot-container-gHndAcl92- gp-z-2 gp-flex gp-flex-1 gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-static gp-flex-row gp-left-0 gp-right-0 tablet:gp-static tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-static mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0" style="--mt:16px;--mt-tablet:16px;--mt-mobile:16px;--d:none;--d-tablet:none;--d-mobile:none">
          <!-- item render by js -->
        </div>
      
  
      </div>
    </gp-carousel-v3>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-carousel-v3-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-615716319546835657 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/223a18-2/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=615709305865241289&sectionId=615716319546835657)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg5vJqygjMN_text","label":"gg5vJqygjMN_text","default":"Why Women Are Obsessed With Nifora"},{"type":"html","id":"gggtbXCrfn6_text","label":"gggtbXCrfn6_text","default":"<p>Thanks to its unique low-molecular collagen formula, over 40,000 women have finally found their answer to aging skin — without needles, creams, or complicated routines.</p>"},{"type":"html","id":"ggg6U75e-GI_srcSet_desktop_src","label":"ggg6U75e-GI_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0798/4028/0923/files/review_bonnie.png"},{"type":"html","id":"ggKUl3jVYk7_text","label":"ggKUl3jVYk7_text","default":"<p>\"I'm 63, and honestly I'd given up on finding anything that actually works on mature skin. Most 'anti-aging' products are made for 30-year-olds. I used this mask one night, woke up, and my husband asked if I'd had work done. I cried. I'm on my fourth box.\"</p><p><br>★★★★★ (5/5) — <strong>Bonnie</strong></p>"},{"type":"html","id":"ggwld42jLQg_srcSet_desktop_src","label":"ggwld42jLQg_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0798/4028/0923/files/Review_2_1.png?v=1776655768"},{"type":"html","id":"gggN6WBm00H_text","label":"gggN6WBm00H_text","default":"<p>\"I barely have time to wash my face most nights, let alone do a whole skincare routine. I put this on after the kids are in bed, go to sleep, peel it off in the morning. My skin looks like I had a facial. That's it. That's the routine.\"</p><p><br>★★★★★ (5/5) — <strong>Jessica</strong></p>"},{"type":"html","id":"ggaO10c780i_srcSet_desktop_src","label":"ggaO10c780i_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0798/4028/0923/files/Review_3_1.png?v=1776655768"},{"type":"html","id":"ggvhyMnth1O_text","label":"ggvhyMnth1O_text","default":"<p>\"I've got sensitive skin and I've tried every Korean mask on TikTok. Most of them break me out or leave my skin red. This one didn't sting, didn't irritate, and by morning my skin looked plumper than it has in years. Finally one that works AND doesn't punish my face.\"</p><p><br>★★★★★ (5/5) — <strong>Stephanie</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}