
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-593760903405503216.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-593760903405503216.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-593760903405503216.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-593760903405503216.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-593760903405503216.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-593760903405503216.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-593760903405503216.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-593760903405503216.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-593760903405503216.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-593760903405503216.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-593760903405503216.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-593760903405503216.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-593760903405503216.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-593760903405503216.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-593760903405503216.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-593760903405503216.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-593760903405503216.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-593760903405503216.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-593760903405503216.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-593760903405503216.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-593760903405503216.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-593760903405503216.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-593760903405503216.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-593760903405503216.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-593760903405503216.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-593760903405503216.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-593760903405503216.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-593760903405503216.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-593760903405503216.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-593760903405503216.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-593760903405503216.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-593760903405503216.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-593760903405503216.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-593760903405503216.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-593760903405503216.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-593760903405503216.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-593760903405503216.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-593760903405503216.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-593760903405503216.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-593760903405503216.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-593760903405503216.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-593760903405503216.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-593760903405503216.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-593760903405503216.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-593760903405503216.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-593760903405503216.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-593760903405503216.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-593760903405503216.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-593760903405503216.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-593760903405503216.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-593760903405503216.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-593760903405503216.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-593760903405503216.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-593760903405503216.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-593760903405503216.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-593760903405503216.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-593760903405503216.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-593760903405503216.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-593760903405503216.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-593760903405503216.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-593760903405503216.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-593760903405503216.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-593760903405503216.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-593760903405503216.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-593760903405503216.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-593760903405503216.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-593760903405503216.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-593760903405503216.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-593760903405503216.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-593760903405503216.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-593760903405503216.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-593760903405503216.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-593760903405503216.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-593760903405503216.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-593760903405503216.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-593760903405503216.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-593760903405503216.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-593760903405503216.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-593760903405503216.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-593760903405503216.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-593760903405503216.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-593760903405503216.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-593760903405503216.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-593760903405503216.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-593760903405503216.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-593760903405503216.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-593760903405503216.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-593760903405503216.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-593760903405503216 .gp-relative{position:relative}.gps-593760903405503216 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-593760903405503216 .gp-mb-0{margin-bottom:0}.gps-593760903405503216 .gp-flex{display:flex}.gps-593760903405503216 .gp-inline-flex{display:inline-flex}.gps-593760903405503216 .gp-grid{display:grid}.gps-593760903405503216 .\!gp-hidden{display:none!important}.gps-593760903405503216 .gp-hidden{display:none}.gps-593760903405503216 .gp-h-full{height:100%}.gps-593760903405503216 .gp-max-w-full{max-width:100%}.gps-593760903405503216 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-593760903405503216 .gp-flex-col{flex-direction:column}.gps-593760903405503216 .gp-items-center{align-items:center}.gps-593760903405503216 .gp-justify-center{justify-content:center}.gps-593760903405503216 .gp-overflow-hidden{overflow:hidden}.gps-593760903405503216 .gp-break-words{overflow-wrap:break-word}.gps-593760903405503216 .gp-text-center{text-align:center}.gps-593760903405503216 .gp-no-underline{text-decoration-line:none}.gps-593760903405503216 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-593760903405503216 .gp-duration-200{transition-duration:.2s}.gps-593760903405503216 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-593760903405503216 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-593760903405503216 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-593760903405503216 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-593760903405503216 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-593760903405503216 .tablet\:\!gp-hidden{display:none!important}.gps-593760903405503216 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-593760903405503216 .mobile\:\!gp-hidden{display:none!important}.gps-593760903405503216 .mobile\:gp-hidden{display:none}}.gps-593760903405503216 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-593760903405503216 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=S6uyw4BMUTPHjx4wWA&skey=2d58b92a99e1c086&v=v25) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=pxiByp8kv8JHgFVrLGT9Z1xlEw&skey=d4526a9b64c21b87&v=v24) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=pxiByp8kv8JHgFVrLCz7Z1xlEw&skey=cea76fe63715a67a&v=v24) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v25/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v25/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--pos:sticky;--top:0px;--z:9999999;--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"backupFileKey":"gempages_560737037540394069-f4cd2786-963a-4e62-b4ed-3604fe52a702.jpg","height":900,"src":"{{ section.settings.ggwWVr_UIHc_background_desktop_image_src }}","storage":"FILE_CONTENT","width":1600},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gwWVr_UIHc"}' data-id="gwWVr_UIHc" id="gwWVr_UIHc" data-same-height-subgrid-container class="gwWVr_UIHc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:10px;--pl:0px;--pb:30px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:20px;--pl-tablet:0px;--pb-tablet:25px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url({{ section.settings.ggwWVr_UIHc_background_desktop_image_src }});--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gIwQkrnDUA gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"glXqPnfwkY"}' data-id="glXqPnfwkY" id="glXqPnfwkY" data-same-height-subgrid-container class="glXqPnfwkY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:15px;--pl-mobile:12px;--pb-mobile:20px;--pr-mobile:12px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gR23JY8IwD gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdNUk9RCc2"
        class="gdNUk9RCc2"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--size:65px;--size-tablet:55px;--size-mobile:24px;--lh:120%;--lh-tablet:120%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggdNUk9RCc2_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsytkb2hTa"
        class="gsytkb2hTa"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:5px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:6px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-tablet:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:28px;--size-tablet:30px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsytkb2hTa_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"https://niforashop.com/products/bio-collagen-mask","selectedTab":"products","target":"_self","type":"open-page"}}'
      style="--bottom:-91px;--bottom-mobile:-55px;--pos:static;--pos-mobile:static"
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:20px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center" >
        <style>[data-id="g7iV-Y708I"].gp-button-base::before, [data-id="g7iV-Y708I-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
  
    }
  
      
  [data-id="g7iV-Y708I"]:hover::before, [data-id="g7iV-Y708I-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="g7iV-Y708I" dataId="g7iV-Y708I" data-state="idle" aria-label="<p>Check availability</p>"
          
          href="https://niforashop.com/products/bio-collagen-mask" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:100px;--pr:100px;--pt:16px;--pb:16px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:13px;--pb-mobile:13px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--hvr-bblr:10px;--hvr-bbrr:10px;--hvr-btlr:10px;--hvr-btrr:10px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#FFFFFF;--bg:#FFFFFF;--hvr-c:#000000;--c:#000000;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--tt:uppercase"
          class="g7iV-Y708I gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--tt:uppercase;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg7iV-Y708I_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-593760903405503216 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/223a18-2/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=593755734966010791&sectionId=593760903405503216)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggwWVr_UIHc_background_desktop_image_src","label":"ggwWVr_UIHc_background_desktop_image_src","default":"https://cdn.shopify.com/s/files/1/0798/4028/0923/files/f7c0c68c-a2c7-435c-b752-54c160b804b3.jpg"},{"type":"html","id":"ggdNUk9RCc2_text","label":"ggdNUk9RCc2_text","default":"SPRING SALE<br>UP TO 75% OFF SITEWIDE"},{"type":"html","id":"ggsytkb2hTa_text","label":"ggsytkb2hTa_text","default":"<p>Don’t miss our biggest sale of the year! 💕</p>"},{"type":"html","id":"gg7iV-Y708I_label","label":"gg7iV-Y708I_label","default":"<p>Check availability</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}