
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-577256624708649510.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-577256624708649510.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-577256624708649510.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-577256624708649510.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-577256624708649510.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-577256624708649510.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-577256624708649510.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-577256624708649510.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-577256624708649510.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-577256624708649510.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-577256624708649510.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-577256624708649510.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-577256624708649510.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-577256624708649510.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-577256624708649510.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-577256624708649510.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-577256624708649510.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-577256624708649510.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-577256624708649510.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-577256624708649510.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-577256624708649510.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-577256624708649510.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-577256624708649510.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-577256624708649510.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-577256624708649510.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-577256624708649510.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-577256624708649510.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-577256624708649510.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-577256624708649510.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-577256624708649510.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-577256624708649510.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-577256624708649510.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-577256624708649510.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-577256624708649510.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-577256624708649510.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-577256624708649510.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-577256624708649510.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-577256624708649510.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-577256624708649510.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-577256624708649510.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-577256624708649510.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-577256624708649510.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-577256624708649510.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-577256624708649510.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-577256624708649510.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-577256624708649510.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-577256624708649510.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-577256624708649510.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-577256624708649510.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-577256624708649510.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-577256624708649510.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-577256624708649510.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-577256624708649510.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-577256624708649510.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-577256624708649510.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-577256624708649510.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-577256624708649510.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-577256624708649510.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-577256624708649510.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-577256624708649510.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-577256624708649510.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-577256624708649510.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-577256624708649510.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-577256624708649510.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-577256624708649510.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-577256624708649510.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-577256624708649510.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-577256624708649510.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-577256624708649510.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-577256624708649510.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-577256624708649510 .gp-relative{position:relative}.gps-577256624708649510 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-577256624708649510 .gp-mb-0{margin-bottom:0}.gps-577256624708649510 .gp-flex{display:flex}.gps-577256624708649510 .gp-grid{display:grid}.gps-577256624708649510 .\!gp-hidden{display:none!important}.gps-577256624708649510 .gp-hidden{display:none}.gps-577256624708649510 .gp-max-w-full{max-width:100%}.gps-577256624708649510 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-577256624708649510 .gp-flex-col{flex-direction:column}.gps-577256624708649510 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577256624708649510 .gp-duration-200{transition-duration:.2s}.gps-577256624708649510 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-577256624708649510 .tablet\:\!gp-hidden{display:none!important}.gps-577256624708649510 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-577256624708649510 .mobile\:\!gp-hidden{display:none!important}.gps-577256624708649510 .mobile\:gp-hidden{display:none}}.gps-577256624708649510 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gzl_FKePSQ"}' data-id="gzl_FKePSQ" id="gzl_FKePSQ" data-same-height-subgrid-container class="gzl_FKePSQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:24px;--pb:23px;--pt-mobile:25px;--pl-mobile:var(--g-s-m);--pb-mobile:25px;--pr-mobile:var(--g-s-m);--pt-tablet:40px;--pl-tablet:var(--g-s-l);--pb-tablet:25px;--pr-tablet:var(--g-s-l);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gTySglMNgZ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gPFnUkpVoN"}' data-id="gPFnUkpVoN" id="gPFnUkpVoN" data-same-height-subgrid-container class="gPFnUkpVoN gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:15px;--pl:15px;--pb:15px;--pr:15px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1050px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gweY-QQ1RZ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gL371jJloq"}' data-id="gL371jJloq" id="gL371jJloq" data-same-height-subgrid-container class="gL371jJloq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mt-mobile:0px;--mb-mobile:0px;--mt-tablet:20px;--mb-tablet:20px;--cg:30px;--cg-tablet:30px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g5BpS4Xf2C gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FBEFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gJhhb6ZniY"}' data-id="gJhhb6ZniY" id="gJhhb6ZniY" data-same-height-subgrid-container class="gJhhb6ZniY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mr:auto;--pt:45px;--pl:25px;--pb:55px;--pr:25px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:35px;--pl-mobile:20px;--pb-mobile:45px;--pr-mobile:20px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#FBEFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gc4VID38os gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3mkgmbwHm"
        class="g3mkgmbwHm"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:0px;--pb:0px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--mt-tablet:0px;--mb-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762136510052"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--size:35px;--size-tablet:38px;--size-mobile:24px;--lh:135%;--lh-tablet:130%;--lh-mobile:130%;--c:#2C2C2C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3mkgmbwHm_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3h1VYr2WI"
        class="g3h1VYr2WI"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:12px;--pt:0px;--pb:0px;--mt-mobile:14px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--mt-tablet:0px;--mb-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762136510060"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--size:18px;--size-tablet:38px;--size-mobile:16px;--lh:135%;--lh-tablet:130%;--lh-mobile:135%;--c:#2C2C2C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3h1VYr2WI_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gkOlNtGkFO"}' data-id="gkOlNtGkFO" id="gkOlNtGkFO" data-same-height-subgrid-container class="gkOlNtGkFO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:45px;--mt-mobile:30px;--cg:25px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gs2RXj37Qu gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gSsQ8zLGYB"}' data-id="gSsQ8zLGYB" id="gSsQ8zLGYB" data-same-height-subgrid-container class="gSsQ8zLGYB gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--cg:25px;--cg-mobile:20px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gOWMmPjDi6 gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gz-UFiLx3F gp-custom-code">
      <div>
    <!-- Google Fonts: Poppins 700 -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

<!-- HTML Block -->
<div class="ismail" style="
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2;
  color: #8B1638;
  text-align: center;
">
  <span>+0.0%</span>
</div>

<!-- Responsive Font Size -->
<style>
  @media only screen and (max-width: 768px) {
    .ismail {
      font-size: 25px !important;
    }
  }
</style>

<!-- JavaScript for +42.5% -->
<script>
(function(){
  let countStarted = false;
  const finalValue = 51.3;
  const decimals = 1;
  const duration = 1000;
  const fps = 60;
  const totalFrames = Math.round((duration / 1000) * fps);
  const increment = finalValue / totalFrames;

  const container = document.querySelector(".ismail");
  const textSpan = container?.querySelector("span");

  if (container && textSpan) {
    const observer = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting && !countStarted) {
          countStarted = true;
          let count = 0;
          let frame = 0;

          const update = () => {
            count += increment;
            frame++;
            if (frame < totalFrames) {
              textSpan.innerText = `+${count.toFixed(decimals)}%`;
              requestAnimationFrame(update);
            } else {
              textSpan.innerText = `+${finalValue.toFixed(decimals)}%`;
            }
          };

          requestAnimationFrame(update);
        }
      });
    }, { threshold: 0.5 });

    observer.observe(container);
  }
})();
</script>
    </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUXZdm4OBe"
        class="gUXZdm4OBe"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:12px;--pt:0px;--pb:0px;--mt-mobile:8px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--mt-tablet:0px;--mb-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762136510066"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:500;--size:18px;--size-tablet:38px;--size-mobile:16px;--lh:135%;--lh-tablet:130%;--lh-mobile:135%;--c:#2C2C2C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUXZdm4OBe_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gbMbhS5HWl gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gma8flnFUV gp-custom-code">
      <div>
    <!-- HTML -->
<div class="jamal" style="
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2;
  color: #8B1638;
  text-align: center;
">
  <span>+0.0%</span>
</div>

<!-- Responsive Style -->
<style>
  @media only screen and (max-width: 768px) {
    .jamal {
      font-size: 25px !important;
    }
  }
</style>

<!-- JS for +55.2% -->
<script>
(function(){
  let countStarted = false;
  const finalValue = 74.6;
  const decimals = 1;
  const duration = 1000;
  const fps = 60;
  const totalFrames = Math.round((duration / 1000) * fps);
  const increment = finalValue / totalFrames;

  const container = document.querySelector(".jamal");
  const textSpan = container?.querySelector("span");

  if (container && textSpan) {
    const observer = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting && !countStarted) {
          countStarted = true;
          let count = 0;
          let frame = 0;

          const update = () => {
            count += increment;
            frame++;
            if (frame < totalFrames) {
              textSpan.innerText = `+${count.toFixed(decimals)}%`;
              requestAnimationFrame(update);
            } else {
              textSpan.innerText = `+${finalValue.toFixed(decimals)}%`;
            }
          };

          requestAnimationFrame(update);
        }
      });
    }, { threshold: 0.5 });

    observer.observe(container);
  }
})();
</script>
    </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gaNZvyYJOR"
        class="gaNZvyYJOR"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:12px;--pt:0px;--pb:0px;--mt-mobile:8px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--mt-tablet:0px;--mb-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762136510068"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:500;--size:18px;--size-tablet:38px;--size-mobile:16px;--lh:135%;--lh-tablet:130%;--lh-mobile:135%;--c:#2C2C2C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggaNZvyYJOR_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gGiy8jGiiR gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gUWgoX1SGk"}' data-id="gUWgoX1SGk" id="gUWgoX1SGk" data-same-height-subgrid-container class="gUWgoX1SGk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mt-mobile:25px;--cg:25px;--cg-mobile:20px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g4a9hus3j_ gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gSwVM7tYPR gp-custom-code">
      <div>
    <!-- Google Fonts: Poppins 700 -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

<!-- HTML -->
<div class="karim" style="
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2;
  color: #8B1638;
  text-align: center;
">
  <span>+0.0%</span>
</div>

<!-- Responsive Styles -->
<style>
  @media only screen and (max-width: 768px) {
    .karim {
      font-size: 25px !important;
    }
  }
</style>

<!-- JS: Animate to +68.9% on scroll -->
<script>
(function(){
  let countStarted = false;
  const finalValue = 48.2;
  const decimals = 1;
  const duration = 1000;
  const fps = 60;
  const totalFrames = Math.round((duration / 1000) * fps);
  const increment = finalValue / totalFrames;

  function animateCountUp(el) {
    let count = 0;
    let frame = 0;

    const update = () => {
      count += increment;
      frame++;
      if (frame < totalFrames) {
        el.innerText = `+${count.toFixed(decimals)}%`;
        requestAnimationFrame(update);
      } else {
        el.innerText = `+${finalValue.toFixed(decimals)}%`;
      }
    };

    requestAnimationFrame(update);
  }

  const container = document.querySelector(".karim");
  const textSpan = container.querySelector("span");

  if (container) {
    const observer = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting && !countStarted) {
          countStarted = true;
          animateCountUp(textSpan);
        }
      });
    }, { threshold: 0.5 });

    observer.observe(container);
  }
})();
</script>
    </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gP35lKPHg1"
        class="gP35lKPHg1"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:12px;--pt:0px;--pb:0px;--mt-mobile:8px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--mt-tablet:0px;--mb-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762136510072"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:500;--size:18px;--size-tablet:38px;--size-mobile:16px;--lh:135%;--lh-tablet:130%;--lh-mobile:135%;--c:#2C2C2C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggP35lKPHg1_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gBkdcWvdVS gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gSCpbfSRwp gp-custom-code">
      <div>
    <!-- Google Fonts: Poppins 700 -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

<!-- HTML -->
<div class="rafiq" style="
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2;
  color: #8B1638;
  text-align: center;
">
  <span>+0.0%</span>
</div>

<!-- Responsive Style -->
<style>
  @media only screen and (max-width: 768px) {
    .rafiq {
      font-size: 25px !important;
    }
  }
</style>

<!-- JS for +31.4% -->
<script>
(function(){
  let countStarted = false;
  const finalValue = 37.9;
  const decimals = 1;
  const duration = 1000;
  const fps = 60;
  const totalFrames = Math.round((duration / 1000) * fps);
  const increment = finalValue / totalFrames;

  const container = document.querySelector(".rafiq");
  const textSpan = container?.querySelector("span");

  if (container && textSpan) {
    const observer = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting && !countStarted) {
          countStarted = true;
          let count = 0;
          let frame = 0;

          const update = () => {
            count += increment;
            frame++;
            if (frame < totalFrames) {
              textSpan.innerText = `+${count.toFixed(decimals)}%`;
              requestAnimationFrame(update);
            } else {
              textSpan.innerText = `+${finalValue.toFixed(decimals)}%`;
            }
          };

          requestAnimationFrame(update);
        }
      });
    }, { threshold: 0.5 });

    observer.observe(container);
  }
})();
</script>
    </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="geRUILg0SE"
        class="geRUILg0SE"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:12px;--pt:0px;--pb:0px;--mt-mobile:8px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--mt-tablet:0px;--mb-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762136510074"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:500;--size:18px;--size-tablet:38px;--size-mobile:16px;--lh:135%;--lh-tablet:130%;--lh-mobile:135%;--c:#2C2C2C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggeRUILg0SE_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-577256624708649510 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/223a18-2/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=577256136911094769&sectionId=577256624708649510)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg3mkgmbwHm_text","label":"gg3mkgmbwHm_text","default":"The Science Behind Nifora Collagen Capsules"},{"type":"html","id":"gg3h1VYr2WI_text","label":"gg3h1VYr2WI_text","default":"Reported results from real users and clinically-backed ingredients:"},{"type":"html","id":"ggUXZdm4OBe_text","label":"ggUXZdm4OBe_text","default":"Improvement in skin firmness after 8 weeks of daily use"},{"type":"html","id":"ggaNZvyYJOR_text","label":"ggaNZvyYJOR_text","default":"Increase in skin hydration and moisture retention"},{"type":"html","id":"ggP35lKPHg1_text","label":"ggP35lKPHg1_text","default":"Reduction in the appearance of fine lines and wrinkles"},{"type":"html","id":"ggeRUILg0SE_text","label":"ggeRUILg0SE_text","default":"Boost in skin elasticity and visible bounce"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  