
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-577447451716420499.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-577447451716420499.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-577447451716420499.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-577447451716420499.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-577447451716420499.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-577447451716420499.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-577447451716420499.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-577447451716420499.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-577447451716420499.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-577447451716420499.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-577447451716420499.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-577447451716420499.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-577447451716420499.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-577447451716420499.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-577447451716420499.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-577447451716420499.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-577447451716420499.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-577447451716420499.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-577447451716420499.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-577447451716420499.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-577447451716420499.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-577447451716420499.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-577447451716420499.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-577447451716420499.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-577447451716420499.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-577447451716420499.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-577447451716420499.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-577447451716420499.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-577447451716420499.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-577447451716420499.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-577447451716420499.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-577447451716420499.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-577447451716420499.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-577447451716420499.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-577447451716420499.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-577447451716420499.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-577447451716420499.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-577447451716420499.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-577447451716420499.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-577447451716420499.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-577447451716420499.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-577447451716420499.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-577447451716420499.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-577447451716420499.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-577447451716420499.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-577447451716420499.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-577447451716420499.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-577447451716420499.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-577447451716420499.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-577447451716420499.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-577447451716420499.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-577447451716420499.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-577447451716420499.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-577447451716420499.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-577447451716420499.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-577447451716420499.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-577447451716420499.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-577447451716420499.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-577447451716420499.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-577447451716420499.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-577447451716420499.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-577447451716420499.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-577447451716420499.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-577447451716420499.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-577447451716420499.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-577447451716420499.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-577447451716420499.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-577447451716420499.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-577447451716420499.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-577447451716420499.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-577447451716420499.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-577447451716420499.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-577447451716420499.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-577447451716420499.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-577447451716420499.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-577447451716420499.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-577447451716420499.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-577447451716420499.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-577447451716420499.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-577447451716420499.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-577447451716420499 .gp-relative{position:relative}.gps-577447451716420499 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-577447451716420499 .gp-mb-0{margin-bottom:0}.gps-577447451716420499 .gp-flex{display:flex}.gps-577447451716420499 .gp-inline-flex{display:inline-flex}.gps-577447451716420499 .gp-grid{display:grid}.gps-577447451716420499 .\!gp-hidden{display:none!important}.gps-577447451716420499 .gp-hidden{display:none}.gps-577447451716420499 .gp-h-full{height:100%}.gps-577447451716420499 .gp-max-w-full{max-width:100%}.gps-577447451716420499 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-577447451716420499 .gp-flex-col{flex-direction:column}.gps-577447451716420499 .gp-items-center{align-items:center}.gps-577447451716420499 .gp-justify-center{justify-content:center}.gps-577447451716420499 .gp-overflow-hidden{overflow:hidden}.gps-577447451716420499 .gp-break-words{overflow-wrap:break-word}.gps-577447451716420499 .gp-text-center{text-align:center}.gps-577447451716420499 .gp-no-underline{text-decoration-line:none}.gps-577447451716420499 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577447451716420499 .gp-duration-200{transition-duration:.2s}.gps-577447451716420499 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577447451716420499 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-577447451716420499 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-577447451716420499 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-577447451716420499 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-577447451716420499 .tablet\:\!gp-hidden{display:none!important}.gps-577447451716420499 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-577447451716420499 .mobile\:\!gp-hidden{display:none!important}.gps-577447451716420499 .mobile\:gp-hidden{display:none}}.gps-577447451716420499 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-577447451716420499 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=S6uyw4BMUTPHjx4wWA&skey=2d58b92a99e1c086&v=v25) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v25/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v25/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--bottom:1px;--pos:sticky;--top:0px;--z:1;--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#8A1538","image":{"backupFileKey":"gempages_560737037540394069-8dee3b70-4ef7-498c-b515-0c22fbd5e6bc.png","height":1080,"src":"{{ section.settings.gg0-p07NupX_background_desktop_image_src }}","storage":"FILE_CONTENT","width":1920},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","video":"","videoHtml5":""}},"uid":"g0-p07NupX"}' data-id="g0-p07NupX" id="g0-p07NupX" data-same-height-subgrid-container class="g0-p07NupX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr] sticky-top-section" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:15px;--pb:15px;--pt-tablet:15px;--pl-tablet:var(--g-s-l);--pb-tablet:15px;--pr-tablet:var(--g-s-l);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#8A1538;--bgi:url({{ section.settings.gg0-p07NupX_background_desktop_image_src }});--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gvHP5qcwhh gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g0IzJl7wG5"}' data-id="g0IzJl7wG5" id="g0IzJl7wG5" data-same-height-subgrid-container class="g0IzJl7wG5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1030px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ghin5WQ2r3 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggEaUWDg_A"
        class="ggEaUWDg_A"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:65px;--size-tablet:16px;--size-mobile:15px;--lh:120%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggEaUWDg_A_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBkYwIx5W7"
        class="gBkYwIx5W7"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:700;--size:28px;--size-tablet:16px;--size-mobile:15px;--lh:120%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBkYwIx5W7_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gKGTO0kgAg gp-custom-code">
      <div>
    
    </div>
    </div>
  
      <style id="custom-css-gKGTO0kgAg">
        .gta-content__container.GSC-BAR-JNJlkAMwBVTi {
    display: none !important;
}


.sticky-top-section {
  transition: all 0.3s ease;
}
      </style>
    
      <script id="custom-js-gKGTO0kgAg">
        try {
          document.addEventListener("DOMContentLoaded", function () {
  const stickyTarget = document.querySelector('.sticky-top-section');
  const placeholder = document.createElement('div');

  if (stickyTarget) {
    const height = stickyTarget.offsetHeight;
    placeholder.style.height = height + 'px';
    placeholder.style.display = 'none';
    stickyTarget.parentNode.insertBefore(placeholder, stickyTarget);

    window.addEventListener('scroll', function () {
      if (window.scrollY > 10) {
        stickyTarget.style.position = 'fixed';
        stickyTarget.style.top = '0';
        stickyTarget.style.left = '0';
        stickyTarget.style.right = '0';
        stickyTarget.style.zIndex = '9999';
        stickyTarget.style.background = '#8A1538';
        placeholder.style.display = 'block';
      } else {
        stickyTarget.style.position = '';
        stickyTarget.style.top = '';
        stickyTarget.style.left = '';
        stickyTarget.style.right = '';
        stickyTarget.style.zIndex = '';
        stickyTarget.style.background = '';
        placeholder.style.display = 'none';
      }
    });
  }
});

        } catch(err){}
      </script>
    
    <gp-button
      gp-data='{"btnLink":{"link":"/products/anti-wrinkle-collagen-mask-copy","selectedTab":"products","target":"_blank","title":"Anti-Wrinkle Collagen Mask"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:10px;--ta:center" >
        <style>[data-id="gOlNoo6Sjc"].gp-button-base::before, [data-id="gOlNoo6Sjc-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
  
    }
  
      
  [data-id="gOlNoo6Sjc"]:hover::before, [data-id="gOlNoo6Sjc-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gOlNoo6Sjc" dataId="gOlNoo6Sjc" data-state="idle" aria-label="<p>Check availability</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/anti-wrinkle-collagen-mask-copy" target="_blank"
          style="--w:455px;--w-tablet:455px;--w-mobile:100%;--h:70px;--h-tablet:70px;--h-mobile:55px;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:12px;--pb-mobile:12px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--hvr-bblr:10px;--hvr-bbrr:10px;--hvr-btlr:10px;--hvr-btrr:10px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#FFFFFF;--bg:#FFFFFF;--hvr-c:#000000;--c:#000000;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--tt:uppercase"
          class="gOlNoo6Sjc gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--tt:uppercase;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggOlNoo6Sjc_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-577447451716420499 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/223a18-2/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=577447451649115027&sectionId=577447451716420499)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg0-p07NupX_background_desktop_image_src","label":"gg0-p07NupX_background_desktop_image_src","default":"https://cdn.shopify.com/s/files/1/0798/4028/0923/files/BLACK_FRIDAY_SALE_3.png"},{"type":"html","id":"gggEaUWDg_A_text","label":"gggEaUWDg_A_text","default":"<p>SPRING DAY SALE</p><p>UP TO 75% OFF SITEWIDE</p>"},{"type":"html","id":"ggBkYwIx5W7_text","label":"ggBkYwIx5W7_text","default":"<p>Don’t miss our biggest sale of the year! 💕</p>"},{"type":"html","id":"ggOlNoo6Sjc_label","label":"ggOlNoo6Sjc_label","default":"<p>Check availability</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}