
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-592035315904938526.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-592035315904938526.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-592035315904938526.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-592035315904938526.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-592035315904938526.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-592035315904938526.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-592035315904938526.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-592035315904938526.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-592035315904938526.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-592035315904938526.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-592035315904938526.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-592035315904938526.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-592035315904938526.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-592035315904938526.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-592035315904938526.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-592035315904938526.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-592035315904938526.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-592035315904938526.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-592035315904938526.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-592035315904938526.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-592035315904938526.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-592035315904938526.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-592035315904938526.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-592035315904938526.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-592035315904938526.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-592035315904938526.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-592035315904938526.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-592035315904938526.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-592035315904938526.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-592035315904938526.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-592035315904938526.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-592035315904938526.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-592035315904938526.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-592035315904938526.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-592035315904938526.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-592035315904938526.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-592035315904938526.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-592035315904938526.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-592035315904938526.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-592035315904938526.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-592035315904938526.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-592035315904938526.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-592035315904938526.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-592035315904938526.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-592035315904938526.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-592035315904938526.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-592035315904938526.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-592035315904938526.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-592035315904938526.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-592035315904938526.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-592035315904938526.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-592035315904938526.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-592035315904938526.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-592035315904938526.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-592035315904938526.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-592035315904938526.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-592035315904938526.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-592035315904938526.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-592035315904938526.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-592035315904938526.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-592035315904938526.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-592035315904938526.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-592035315904938526.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-592035315904938526.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-592035315904938526.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-592035315904938526.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-592035315904938526.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-592035315904938526.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-592035315904938526.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-592035315904938526.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-592035315904938526.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-592035315904938526.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-592035315904938526.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-592035315904938526.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-592035315904938526.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-592035315904938526.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-592035315904938526.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-592035315904938526.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-592035315904938526.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-592035315904938526.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-592035315904938526.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-592035315904938526.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-592035315904938526.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-592035315904938526.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-592035315904938526.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-592035315904938526.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-592035315904938526 .gp-relative{position:relative}.gps-592035315904938526 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-592035315904938526 .gp-mb-0{margin-bottom:0}.gps-592035315904938526 .gp-inline-block{display:inline-block}.gps-592035315904938526 .gp-flex{display:flex}.gps-592035315904938526 .gp-inline-flex{display:inline-flex}.gps-592035315904938526 .gp-grid{display:grid}.gps-592035315904938526 .gp-contents{display:contents}.gps-592035315904938526 .\!gp-hidden{display:none!important}.gps-592035315904938526 .gp-hidden{display:none}.gps-592035315904938526 .gp-h-auto{height:auto}.gps-592035315904938526 .gp-h-full{height:100%}.gps-592035315904938526 .gp-w-full{width:100%}.gps-592035315904938526 .gp-max-w-full{max-width:100%}.gps-592035315904938526 .gp-flex-none{flex:none}.gps-592035315904938526 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-592035315904938526 .gp-flex-col{flex-direction:column}.gps-592035315904938526 .gp-items-center{align-items:center}.gps-592035315904938526 .gp-justify-center{justify-content:center}.gps-592035315904938526 .gp-overflow-hidden{overflow:hidden}.gps-592035315904938526 .gp-break-words{overflow-wrap:break-word}.gps-592035315904938526 .gp-text-center{text-align:center}.gps-592035315904938526 .gp-no-underline{text-decoration-line:none}.gps-592035315904938526 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-592035315904938526 .gp-duration-200{transition-duration:.2s}.gps-592035315904938526 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-592035315904938526 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-592035315904938526 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-592035315904938526 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-592035315904938526 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-592035315904938526 .tablet\:\!gp-hidden{display:none!important}.gps-592035315904938526 .tablet\:gp-hidden{display:none}.gps-592035315904938526 .tablet\:gp-h-auto{height:auto}.gps-592035315904938526 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-592035315904938526 .mobile\:\!gp-hidden{display:none!important}.gps-592035315904938526 .mobile\:gp-hidden{display:none}.gps-592035315904938526 .mobile\:gp-h-auto{height:auto}.gps-592035315904938526 .mobile\:gp-flex-none{flex:none}}.gps-592035315904938526 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-592035315904938526 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--bottom:0%;--pos:sticky;--pos-mobile:sticky;--top:0px;--z:99999;--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#8b1638","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g0-p07NupX"}' data-id="g0-p07NupX" id="g0-p07NupX" data-same-height-subgrid-container class="g0-p07NupX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:15px;--pr:0px;--pt-tablet:15px;--pl-tablet:var(--g-s-l);--pb-tablet:15px;--pr-tablet:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:15px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#8b1638;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gvHP5qcwhh gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g0IzJl7wG5"}' data-id="g0IzJl7wG5" id="g0IzJl7wG5" data-same-height-subgrid-container class="g0IzJl7wG5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ghin5WQ2r3 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gzrh5RHtUU"
      style="--mb:15px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:15px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1762507252855 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gzrh5RHtUU"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "LP_7.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzc4MCIgaGVpZ2h0PSI5OTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTM3ODAtOTk1Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIzNzgwIiBoZWlnaHQ9Ijk5NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzc4MCIgaGVpZ2h0PSI5OTUiIGZpbGw9InVybCgjZy0zNzgwLTk5NSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTM3ODAiIHRvPSIzNzgwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "LP_7.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzc4MCIgaGVpZ2h0PSI5OTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTM3ODAtOTk1Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIzNzgwIiBoZWlnaHQ9Ijk5NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzc4MCIgaGVpZ2h0PSI5OTUiIGZpbGw9InVybCgjZy0zNzgwLTk5NSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTM3ODAiIHRvPSIzNzgwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "LP_7.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzc4MCIgaGVpZ2h0PSI5OTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTM3ODAtOTk1Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIzNzgwIiBoZWlnaHQ9Ijk5NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzc4MCIgaGVpZ2h0PSI5OTUiIGZpbGw9InVybCgjZy0zNzgwLTk5NSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTM3ODAiIHRvPSIzNzgwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "LP_7.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--btrr:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    <gp-button
      gp-data='{"btnLink":{"link":"/collections/shop-all","selectedTab":"products","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mt-mobile:0px;--pt-mobile:12px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--ta:center" >
        <style>[data-id="gOlNoo6Sjc"].gp-button-base::before, [data-id="gOlNoo6Sjc-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
  
    }
  
      
  [data-id="gOlNoo6Sjc"]:hover::before, [data-id="gOlNoo6Sjc-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gOlNoo6Sjc" dataId="gOlNoo6Sjc" data-state="idle" aria-label="<p>Check availability</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/shop-all" target="_self"
          style="--w:1200px;--w-tablet:1200px;--w-mobile:455px;--h:70px;--h-tablet:70px;--h-mobile:60px;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:12px;--pb-mobile:12px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--hvr-bblr:10px;--hvr-bbrr:10px;--hvr-btlr:10px;--hvr-btrr:10px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#FFFFFF;--bg:#FFFFFF;--hvr-c:#000000;--c:#000000;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--tt:uppercase"
          class="gOlNoo6Sjc gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--tt:uppercase;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggOlNoo6Sjc_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v25/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v25/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v25/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-592035315904938526 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/223a18-2/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=592035315787498014&sectionId=592035315904938526)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggOlNoo6Sjc_label","label":"ggOlNoo6Sjc_label","default":"<p>Check availability</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  